<% if flash[:message] %>
  <h3><%= flash[:message] %></h3>
<% end %>

<h1> <%= @user.name %> </h1>

<p>Bio: <%= @user.bio %> </p><br>

<h3>Reviews:</h3>
<ul>
  <% @user.reviews.each do |rev| %>
    <li><a href="/reviews/<%= rev.id %>"><%= rev.game_title %></a></li>
  <% end %>
</ul>
